#root {
  --Watercourse: #047857;
  --Mountain-Meadow: #10b981;
  --Puerto-Rico: #4bcaa0;
  --Athens-Gray: #e5e7eb;
  --Athens-Gray2: #f3f4f6;
  --Pale-Sky: #6b7280;
  --Oxford-Blue: #374151;
  --Aluminium: #acb1bc;
}
